.serif {
  font-family: "Times New Roman", Times, serif;
}
.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}
.monospace {
  font-family: "Consolas", "Roboto Mono", "Ubuntu Mono", monospace;
}

body {
  margin: 0;
  background-color: white;
  font-family: monospace;
  color: black;
  font-size: 1em;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  background-color: teal; 
  color: #ffffff;
}

header {
  padding-top: 30px;
  padding-bottom: 0px;
  text-align: center;
  font-style: bold;
  font-size: 1em;
}

footer {
  text-align: center;
  /* background: #f1f1f1; */
  /* margin-top: 300px; */
  font-size: 0.8em;
  font-family: monospace;
  color: rgb(155, 155, 155);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer a {
  color:rgb(155, 155, 155);
}

.footer a:visited {
  text-decoration: none;
  color:rgb(155, 155, 155);
}
.footer a:hover {
  background-color: teal; 
  color: #ffffff;
}
.banner a {
  color: black;
}

.navbar {
  overflow: hidden;
  /* background-color: #f1f1f1; */
  text-align: center;
  padding-bottom: 30px;
}

.navbar a {
  color: black;
  padding-left: 30px; 
  padding-right: 30px; 
  text-decoration: none;
  font-size: 1.25em;
  font-style: normal;
}

.navbar a:hover {
  color: #ffffff;	
}

.navbar li {
  float: center;
  display: inline;
}


/* Create three unequal columns that float next to each other */
.column {
  float: right;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
  max-width: 50em;
  padding-bottom: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
