.serif {
  font-family: "Times New Roman", Times, serif;
}
.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}
.monospace {
  font-family: "Consolas", "Roboto Mono", "Ubuntu Mono", monospace;
}

body {
  margin: 0;
  background-color: white;
  font-family: monospace;
  color: black;
  font-size: 1em;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: teal;
}

a:visited {
  text-decoration: none;
  color: teal;
}
a:hover {
  background-color: teal; 
  color: #ffffff;
}

header {
  padding-top: 30px;
  padding-bottom: 0px;
  text-align: center;
  font-style: bold;
  font-size: 1em;
}

footer {
  text-align: center;
  /* background: #f1f1f1; */
  /* margin-top: 300px; */
  font-size: 0.8em;
  font-family: monospace;
  color: rgb(155, 155, 155);
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer a {
  color: teal;
}

.footer a:visited {
  text-decoration: none;
  color: teal;
}

.footer a:hover {
  background-color: teal; 
  color: #ffffff;
}

.banner a {
  color: black;
}

.banner a:hover {
  color: black;
}

.navbar {
  overflow: hidden;
  text-align: center;
  padding-bottom: 10px;
}

.navbar a {
  color: black;
  padding-left: 30px; 
  padding-right: 30px; 
  text-decoration: none;
  font-size: 1.25em;
  font-style: normal;
}

.navbar a:hover {
  color: #ffffff;	
}

.navbar li {
  float: center;
  display: inline;
}


/* Middle column */
.column.middle {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 40em;
  min-width: 30em;
  min-height: 15em;
  justify-content: center;
}
